body{
    background-image: url(Images/BG.png);
    background-size: 100%, 440%;
}

/* Animations */
.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateY(-10%);
    transition: all 0.5s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: rgba(46, 46, 46, 1);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(22, 22, 22);
  }

.button-primary{
    background-color: rgb(26, 115, 232);
    background-image: none;
    border: none;

    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1rem;
    text-align: center;

    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-left: 1rem;
    padding-right: 1rem;

    cursor: pointer;

    border-radius: 2rem;

    transition: 150ms;
}

.button-primary:hover{
    background-color: rgb(63, 141, 243);
    scale: 1.1;
}

.button-primary:active{
    background-color: rgb(18, 92, 189);
}

/* Header */
.header{
    display: flex;
    justify-content: end;
    margin-top: 1rem;
}

.header-buttons{
    display: flex;
    flex-direction: row;

    position: relative;
    justify-content: end;
}

.header-item{
    color: #B4B4B4;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    margin-left: 1.4rem;

    transition: 150ms;
}

.header-item:hover{
    color: rgb(18, 92, 189);
}

/* Title */
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;

    height: 100%;
}

#title-title{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 4.3rem;
    margin-top: -1rem;
} 

#title-logo{
    height: 4rem;
}

#title-subtitle{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 3rem;
    text-align: center;

    margin-top: 0.5rem;
    width: 70%;
}

/* Search box */
#title-search{
    display: flex;
    width: 40% ;
    height: 4rem;
    padding: 1rem;
}

#title-search input{
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: none;

    background-color: rgba(50, 50, 50, 0.65);
    color: #B3B3B3;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1rem;
    text-align: left;

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;

    width: 100%;

    margin-top: 1rem;
    border-radius: 2rem;

    transition: 150ms;

    box-shadow: 0px 10px 22px 0px rgba(0, 0, 0, 0.4);
}

#title-search input:focus{
    outline: none;
    border: 1px solid rgb(18, 92, 189);
}

#title-search button{
    margin-top: 1rem;
    margin-left: 1rem;

    width: 50%;
    box-shadow: 0px 0px 10px 0px rgba(26, 115, 232, 0.9);
}

/* Images */
.image-container{
    display: flex;
    /* flex-direction: column; */
    align-content: center;
    justify-content: center;    
    overflow: hidden;

    padding-top: 2rem;
}

.title-images{
    display: flex;
    width: 500px;
    text-align: center;
    align-items: center;
    justify-content: center;

    border-radius: 15px;

    background-color: #B4B4B4;

    margin-left: 0.5rem;
    margin-right: 0.5rem;

    aspect-ratio: 16/9;
}

/* Info page */
.infopage{
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    /* height: 100%; */
}

.info-title{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 4.3rem;

    width: 50%;
}

.info-p{
    color: #B4B4B4;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 2rem;

    width: 40%;

    margin-top: 1rem;
}

#info-loc{
    padding-left: 2rem;
    height: 50%;
}

#info-trust{
    float: right;
    padding-right: 2rem;
    height: 50%;
}

#p{
    float: right;
    text-align: right;
}

#t{
    transform: translateX(100%);
    text-align: right;
}

.cardspage{
    margin-top: 3rem;
}

#cards-header{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 4.3rem;
    text-align: center;
}

#cards-subheading{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 3.3rem;
    text-align: center;
    margin-top: 1rem;
}

#cards-container{
    width: 90%;
    height: 100%;
    margin: 3rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #323232;

    cursor: pointer;
    position: relative;

    width: 20%;
    height: 20rem;
    background-color: #131313;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.5rem;

    box-shadow: 0px 10px 22px 0px rgba(0, 0, 0, 0.4);
    border-radius: 15px;

    margin: 1rem;

    overflow: hidden;

    transition: 150ms;
}

.card:hover{
    scale: 1.05;
}

/* Bottom page */
.bottom-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bottom-t{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 2.8rem;
    text-align: center;
    margin-top: 1rem;
}

#bottom-p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    margin-top: 1rem;

    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.bottom-page button{
    font-size: 1.5rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

/* footer */
.footer{
    display: flex;
    justify-content: end;
    background-color: #323232;
    bottom: 100%;
    padding: 1rem;

    margin-top: 3rem;
}

/* CONTACT PAGE */
#contact{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#form{
    display: flex;
    flex-direction: column  ;
    align-items: center;
    justify-content: center;
    width: 30%;
}

#naam{
    display: flex;
    justify-content: center;
}

#message input{
    height: 3rem;
}

.input{
    display: flex;
    flex-direction: column;
    width: 88%;

    margin: 0 0.5rem 1rem 0.5rem;
}

.input-label{
    margin-bottom: 0.5rem;
}

.input-title{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.input-optio{
    color: #B4B4B4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    margin-left: 0.75rem;
}

.input input{
    background-color: #323232;
    border: 1px solid #585858;
    border-radius: 4px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;

    caret-color: white;

    transition: 150ms;
}

.input input:focus{
    outline: none;
    border: 1px solid rgb(18, 92, 189);
}

.input textarea{
    background-color: #323232;
    border: 1px solid #585858;
    border-radius: 4px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

    transition: 150ms;
    caret-color: white;

    height: 5rem;

    width: 93%;
    transform: translateX(-2%);
    resize: none;
}

.input textarea:focus{
    outline: none;
    border: 1px solid rgb(18, 92, 189);
}

#reden{
    width: 87%;
    
    display: flex;
    flex-direction: column;
}

.input-radio{
    display: flex;
    width: 100%;
    margin-top: 0.5rem;
}

.input-radio input{
    margin-right: 0.5rem;
}

.radio-container{
    display: flex;
    position: relative;
    margin-top: 0.75rem;
    cursor: pointer;

    align-items: center;

    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.radio-container input{
    margin-right: 0.5rem;
    width: 1.2rem;
    height: 1.2rem;
}

#send-button{
    margin-top: 1rem;
}

/* Diff screens */
@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}

@media only screen and (max-width: 600px){
    .header-item{
        font-size: 0.7rem;
        padding-left: 0rem;
        padding-right: 0rem;
    }

    .button-primary{
        font-size: 0.7rem;
    }

    #title-subtitle{
        font-size: 1.5rem;
    }

    #title-title{
        font-size: 2rem;
        margin-top: -0.5rem;
    }

    #title-logo{
        height: 2rem;
    }

    /* Search box */
    #title-search input{
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        border: none;
    
        background-color: rgba(50, 50, 50, 0.65);
        color: #B3B3B3;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
        font-size: 0.7rem;
        text-align: left;
    
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
    
        width: 100%;
    
        margin-top: 1rem;
        border-radius: 2rem;
    
        box-shadow: 0px 10px 22px 0px rgba(0, 0, 0, 0.4);
    }    

    #title-search{
        display: flex;
        width: 75% ;
        height: 3rem;
    }

    #title-search button{
        margin-top: 1rem;
        margin-left: 1rem;
    
        width: 50%;
        box-shadow: 0px 0px 10px 0px rgba(26, 115, 232, 0.9);
    }

    
    .title-images{
        border-radius: 5px;
    }

    /* Info page */
    .infopage{
        padding-top: 3rem;
    }
    
    .info-title{
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        font-size: 2rem;
    }
    
    .info-p{
        color: #B4B4B4;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
        font-size: 1rem;
    
        margin-top: 1rem;
        width: 80%;
    }

    /* Cards page */
    #cards-header{
        font-size: 2rem;
    }

    #cards-subheading{
        font-size: 1.5rem;
        margin-top: 0.5rem;
    }

    #cards-container{
        margin: 1.5rem;
    }

    .card{
        width: 40%;
        height: 15rem;
        font-size: 0.8rem;
        margin: 0.5rem;
    }

    #bottom-t{
        font-size: 1.4rem;
        margin-top: 0.5rem;
    }
    
    #bottom-p{
        font-size: 1rem;
        margin-top: 0.5rem;
    
        margin-top: 0.25rem;
        margin-bottom: 0.5rem;
    }
    
    .bottom-page button{
        font-size: 0.75rem;
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
        padding-right: 0.75rem;
        padding-left: 0.75rem;
    }

    /* Footer */
    .footer{
        margin-top: 1.5rem;
        padding: 0.5rem;
    }

    /* CONTACT PAGE */
    #form{
        width: 90%;
    }

    .input{
        width: 83%;
    }

    #send-button{
        font-size: 1rem;
    }
}
